/* 
.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content:center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: white;
  display: flex;
  align-items:  center;
}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;

} */
/* 
.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.file-dialog input{
  outline: none;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
} */

/* .username-input {
  width: 100%;
} */
/* 
input[type="text"]:focus {
  border-color: #5C8436;
}

.submit-btn {
  color: #5C8436;
  background-color: #181919;
  width: 100%;
}

.submit-btn:hover {
  color: #5C8436;
  background-color: #222;
}

svg {
  width: 24px;
  height: 24px;
}

.btn {
  border: none;
  width: auto;
  padding: 0;
  height: auto;
  line-height: 1.2;
  margin-bottom: 0;
}

.image-picker {
  margin-right: 20px;
}

.chooseFileButton {
  height: auto;
}

.fileContainer {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
  margin-bottom: 15px;
}

.file-dialog {
  width: 500px;
  background-color: white;
  padding: 20px;
}

.file-dialog h4 {
  margin-bottom: 0;
  padding-left: 0;
}

.file-dialog form {
  margin-bottom: 0;
}

.file-dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.file-dialog input {
  width: 100%;
  margin-bottom: 15px;
  border-color: #ccc;
}

.image-attachment {
  width: auto;
  height: auto;
  max-width: 400px;
  margin-top: 15px;
}

.chat-messages {
  justify-content: flex-start;
  min-height: auto;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */ 

.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content:center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: white;
  display: flex;
  align-items:  center;

}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;
}

.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.file-dialog input {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 100000000000000000000000;
}

input[type="text"]:focus {
  border-color: dodgerblue;
}

.submit-btn {
  color: #5C8436;
  background-color: #181919;
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.submit-btn:hover {
  color: #5C8436;
  background-color: #222;
}

svg {
  width: 24px;
  height: 24px;
}

.btn {
  border: none;
  width: auto;
  padding: 0;
  height: auto;
  line-height: 1.2;
  margin-bottom: 0;
}

.image-picker {
  margin-right: 20px;
}

.chooseFileButton {
  height: auto;
}

.fileContainer {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
  margin-bottom: 15px;
}

.file-dialog {
  width: 500px;
  background-color: white;
  padding: 20px;
}

.file-dialog h4 {
  margin: 0;
  padding-left: 0;
  font-size: 25px;

}

.file-dialog form {
  margin-bottom: 0;
}

.file-dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.file-dialog input {
  width: 100%;
  margin-bottom: 15px;
  border-color: #ccc;
}

.image-attachment {
  width: auto;
  height: auto;
  max-width: 400px;
  margin-top: 15px;
}

.chat-messages {
  justify-content: flex-start;
  min-height: auto;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center
}