#flyoutMenu {
  width:100%;
  height: 100%;
  background-color: #3F0E40;   
  /* position: fixed;
  top: 0;
  left: 0; */
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1000;
  
}  

.menu{
  width: 100%;
  height: 100%;
}

/* @media (max-width: 960px){
  .menu{
    display: none;
  } 
}  */

/*   
#flyoutMenu.hide {
  transform: translate3d(0px, 0, 0);
}
   
#flyoutMenu.show {
  transform: translate3d(-280px, 0, 0);
   /* overflow: hidden;  
} 
  
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
   
#flyoutMenu h2 a:hover {
  text-decoration: underline;
} */