

  .message-container{ 
     min-width: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  

  .message-cnt{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    border-bottom: 1px solid lightgray;
  }

  .sender{
    display: flex;
    align-items: center;
    
  }
  .message-time{
    font-size: 15px;
    padding-right: 10px;
  } 

  .info-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .Message {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

 .message-sender{
    font-weight: 900;
  }
  
