.online-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
}

.active {
    background-color: rgba(255,255,255, 0.5);
}

.room-unread{
    background-color: #fff;
    color: #000;
    font-weight: 900;
    border-radius: 50%;
    padding: 0 6px;
    margin-left: 65px;
    
    
}
.room-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}


.send-dm-btn {
    opacity: 0.8;
    color: dodgerblue;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    
}
.rooms-list a {
    text-decoration: none;
    color: white;
}

.new-room-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-room-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-input {
    padding: 20px 0;
    outline: none;
    border: none;
    width: 100%;
    background-color: #3F0E40;
    opacity: 90%;
    color: dodgerblue;
}

.switch-button {
    width: 100%;
    outline: none;
    border: none;
    color: rgb(11, 25, 42);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    background-color: rgb(143, 117, 144);
    opacity: 0.5;
    padding: 10px;

}

.switch-button:hover{
    color: #fff;
}
/* #create-room-btn {
    padding: 20px;
    outline: none;
    border: none;
    background-color: dodgerblue;
} */