.online-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.room-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}

.rooms-list a {
    text-decoration: none;
    color: white;
}

.new-room-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-room-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-input {
    padding: 20px 0;
    outline: none;
    border: none;
    width: 100%;
    background-color: #3F0E40;
    opacity: 90%;
    color: dodgerblue;
}

#create-room-btn {
    padding: 20px;
    outline: none;
    border: none;
    background-color: dodgerblue;
}