.online-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.room-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}

.rooms-list a {
    text-decoration: none;
    color: black;
}

.new-room-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.room-input {
    padding: 20px;
    outline: none;
    border: none;
}

#create-room-btn {
    padding: 20px;
    outline: none;
    border: none;
    background-color: dodgerblue;
}