body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: #EEE;
} 

#roundButton {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
 
#roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}

.composer-container {
  max-width: 100%;
  display: flex;
  padding: 1em;
  background-color: #fbfbfb;
}

.composer {
  background-color: #fbfbfb;
  /* height: 100%;*/
  width: 100%; 
  border: none;
  outline: none;
  font-size: 1.25em;
  resize: none;
}

.messages {
  padding-left: 0;
  margin-left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.text-area {
  max-width: 100%;
  background-color: #fbfbfb;
  height: 10vh;
  margin: 0 auto;
}

@media (max-width: 1024px){
  .messages{
    padding-top: 70px;
  }
}