body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: #EEE;
  overflow: hidden;
  min-width: 300px;
} 

.menu-container{
  width: 250px;
  height: 100vh;
  color: #fff;
  position: relative;
  padding: 0;
  background-color: #3F0E40;
}

.messanger-container {
  height: 100vh;
  min-width: 300px;
  width: 100%;
}


.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}

.composer-container {
  width: 100%;
  display: flex;
  padding: 1em;
  background-color: #fbfbfb;
}

.composer {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%; 
  border: none;
  outline: none;
  font-size: 1.25em;
  resize: none;
}

.text-area {
  max-width: 100%;
  background-color: #fbfbfb;
  height: 10vh;
  margin: 0 auto;
}

.menu-container {
  overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3F0E40; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(163, 138, 164); 
  opacity: 0.5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3F0E40; 
}