body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-width: 300px;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;

} 

.menu-container{
  width: 300px;
  height: 100vh;
  color: #fff;
  position: relative;
  padding: 0;
  background-color: #3F0E40;
}

.messanger-container {
  max-height: 100%;
  max-width: 100%;
  width: 960px;
  padding: 0 5px 0 0;
}

.wrapper{
  min-width: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0 0 0 20px;
  position: relative;
}

.chat-form{
  width: 100%;
  display: flex;

  min-height: 1px;
  min-width: 1px;
}
.composer-container {
  min-width: 1px;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
}


.composer {
  background-color: #fbfbfb;
  width: 100%;

  border: 1px solid black;
  outline: none;
  font-size: .85em;
  resize: both;
  border-radius: 5px;
  display: flex;
  min-width: 1px;
  flex: 10;
  padding-left: 10px;
  padding: 10px;

}

.text-area {
  background-color: #fbfbfb;
  height: 50vh;
  margin: 0 auto;
  min-width: 1px;
  width: 100%;
}

.menu-container {
  overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 10px;
 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3F0E40; 
  border-radius: 10px;
  display: block;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(163, 138, 164); 
  opacity: 0.5;
  border-radius: 10px;
  display: block;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3F0E40; 
  display: block;
}